.episode-container {
    text-align: left;
    margin: 10px;
    width: 50%;
  }
  
  .episode-title {
    font-weight: bold;
  }
  
  .episode-description {
    font-style: italic;
    margin-bottom: 10px;
  }
  
  
  