.card-image-sidebar {
    border-radius: 8px;
    height: auto;
    width: 50%;
    object-fit: cover;
  }

  .card-content-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }