
  .episode-detail-content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 1%;
  }
  
  .sidebar-container {
    flex: 1;
    margin-right: 20px;
  }
  
  .episode-view-container {
    flex: 2;
    margin-left: 20px;
    width: 100%;
  }
  
 
  